<% provide(:title, 'About') %>


<h1>About Polis</h1>

<p>We are a website that is to give every Annapolitan the low-down on weekend events in Annapolis. </p>

<a href="http://ppl.ug/GY4aUukso0g/" target="_blank">Resume</a>