<% provide(:title, 'About') %>

<div class="col-lg-11 col-lg-offset-0">
  <h1>About Lowdown</h1>
  <p class="static-content">Lowdown is a social network for events happening in the Washington D.C. area. Think Craigslist had a baby with Twitter that went to school for events.</p>

  <p class="static-content">As a fellow washingtonian and musician, I grew up wanting to have a place where I could go to
    find the various bands that were playing in the D.C. area on any given night. When I was bored I wish I had a
    place to find all the fun stuff (big and large) going on. So I built this social network so that anyone can post
    their events.</p>

  <p class="static-content">Be it a party, concert, yard sale, special night at your restaurant, a street musican
    wanting to let people know you're performing, an art show or whatever. POST IT, it's free! And I hope to see you at
    the next Lowdown posted event.</p>

  <p class="note">Once you activate your account, make sure you start following
    <b><%= link_to 'users', users_path %></b> to see their events. You can find users by clicking on the
    "<b><%= link_to "Users", users_path %></b>" tab.</p>

  <p class="static-content">
    Also, by joining, you give me the right to revoke access to your account or delete your post if I deem what you are posting as illegal or harmfull to any user.  You'll get a warning, maybe two, but three strikes and your gone.  Sorry to sound harsh soo soon, but I want lowdown to be a positive attribute to our lives.</p>
</div>

<%# render 'layouts/footer' %>