<% provide(:title, 'Help') %>

<h1>Help</h1>
<p class="static-content">This page will be coming soon. In the mean time please use <%= mail_to 'mailto:contact.lowdown@gmail.com', 'this email', subject:'Help ~ Lowdown.site' %> if you have any questions.</p>

