<% provide(:title, 'Help') %>

<h1>Help</h1>
<p class="static-content">This page will be coming soon. In the mean time please use <%= link_to 'this email', 'mailto:contact.lowdown@gmail.com', subject:'Contact Lowdown.site' %> if you have any questions.</p>

