<% provide(:title, '') %>

<div class="jumbotron">
	<div class="container">
      <h1>Polis</h1>
      <h3>Welcome to <span class="text-muted">Anna</span>Polis!</h3>
		<p>Your Annapolitan plans for the weekend. Your one stop place to see, share, and connect with the awesomeness of Annapolis, MD.</p>
		<p>
			<%= link_to 'Sign up!', signup_path, class:'btn btn-primary' %>
		</p>
	</div>
</div>
