<%= provide(:title, 'Users') %>

<h1>All Users</h1>
<p class="note">Click on users profile to follow them</p>
<div class="row">
  <div class="col-lg-12">
    <%= will_paginate %>
  </div>
</div>

<% @users.each do |user| %>
  <%= render user %>
<% end %>


<div class="row">
  <div class="col-lg-12">
    <%= will_paginate %>
  </div>
</div>





