<% @user ||= current_user %>
<div class="stats">

  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <span class="badge">following <%= @user.following.count %></span>
    </strong>
  </a>
  |
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <span class="badge">followers <%= @user.followers.count %></span>
    </strong>

  </a>
</div>