<%= link_to gravatar_for(current_user), current_user %>
<h3><%= current_user.username %></h3>
<span><%= pluralize(current_user.eventposts.count, 'event') %></span><br>
<span><%= link_to "view my profile", current_user %></span>
