<%= provide(:title, 'Events') %>

<!--<div class="row">-->
  <!--<div class="col-lg-10 col-lg-offset-1">-->
    <!--<h1>All events</h1>-->
    <!--<p><i>Events are ordered from when they were posted</i></p>-->
    <!--<p><%# will_paginate %></p>-->
    <!--<%# render @eventposts %>-->
    <!--<p><%# will_paginate %></p>-->
  <!--</div>-->
  <!--&lt;!&ndash;<div class="col-lg-3">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; * Ad Space Goes here * &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<h1>Event calendar</h1>

<%= month_calendar(events: @eventposts)  do |date, eventposts| %>
    <%= date.strftime('%d') %>

    <% eventposts.each do |eventpost| %>
        <div>
          <span class="calendar-title" colspan="2"><%= link_to "*#{eventpost.title.first(20)}...", eventpost %></span>
        </div>
    <% end %>

<% end %>