<%= provide(:title, 'Events') %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <h1>All events</h1>
    <p><i>Events are ordered from when they were posted</i></p>
    <p><%= will_paginate %></p>
    <%= render @eventposts %>
    <p><%= will_paginate %></p>
  </div>
  <!--<div class="col-lg-3">-->
    <!--&lt;!&ndash; * Ad Space Goes here * &ndash;&gt;-->
  <!--</div>-->
</div>