// Place all the styles related to the Eventposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.simple-calendar {

  .day {

  }

  .wday-0 {
  }
  .wday-1 {
  }
  .wday-2 {
  }
  .wday-3 {
  }
  .wday-4 {
  }
  .wday-5 {
  }
  .wday-6 {
  }

  .today {
    background-color: #ffe4bc;
    //opacity: 0.6;

  }
  .past {
  }
  .future {
  }

  .start-date {
  }

  .prev-month {
    background-color: $gray-lighter;
  }

  .next-month {
    background-color: $gray-lighter;
  }

  .current-month {
  }

  .has-events {
  }

  th {
    border-right: 1px solid #3f556b;


  }

  table > thead > tr.days-of-week {
    background-color: $brand-primary;
    border-right: $brand-primary;
    border-top: 1px solid $brand-primary;
    color: $white;
  }

  .pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #18BC9C;
    border: 1px solid transparent;
    border-radius: 15px;
    color: $white;
    float: right;
    margin: 0 10px;
  }

   span.calendar-title {

    }

}