
body.homepage {
    background: url('https://s3.amazonaws.com/polis-events/images/sativa.png') repeat;
    background-color: $brand-primary;
}


.jumbotron {
  //background: url('sativa.png') repeat;
  background-color: $brand-primary!important;
  color: $brand-success!important;
  //color: $white!important;
  h1 {
    font-family: $font-family-courgette;

    color: $white!important;
  }
}

p {
  //line-height: 23px;
  //font-size: .75em;
}

h1.home-logo {
  font-weight: bold;
}

.top-line {
  padding: 20px;
  width: 100%;
  background-color: $brand-success;
  margin: 2px 0;
}

.middle-line {
  padding: 10px;
  width: 100%;
  background-color: $brand-primary;
  margin: 2px 0;
  text-align: center;
  > p {
    padding-top: 10px;
  }
}

.bottom-line {
  padding: 20px;
  width: 100%;
  background-color: $brand-success;
  margin: 2px 0;
}

p.static-content {
  font-size: 1.30em;
  line-height: 1.5em;
  //text-align: justify;
  font-weight: 300;
}

p.note {
  color: $brand-success;
  font-style: italic;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: justify;
  font-weight: 300;
}

#ship {
  color: $white;
  padding: 15px 15px 0 0;
}

.alert-msg {
  text-align: center;
}

#error_explanation > ul {
  color: #E74C3C;
}

.panel-heading {

}

.panel-title {
  font-weight: bold;
  background: inherit;
}
.panel {
  margin: 3px 5px;
}

.panel-footer {
  background-color: $almost-white!important;
}

.users-link {
  color: $white;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

a > strong.stat {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.follow-avatars > img {
  max-width: 30px;
}

/* found in users_helper.rb */
.img-thumbnail:hover {
  box-shadow: 0 0.10em 0.25em $brand-success;
}

.img-thumbnail:focus {
  box-shadow: inset 0 0 1em $gray;
}

a.colper-design-logo > img {
  max-width: 75px;
}

.panel-title {
  text-align: center;
}

span.eventposts > p {
  //font-size: 16px;
}

div#ui-datepicker-div {
  background-color: $gray-lighter;
  padding: 20px;
  cursor: pointer;
}

.ui-datepicker {
  width: 17em;
  padding: 0;
  display: none;
}

.user-summary {
  line-height: 20px;

  //text-align: justify;
}

.calendar-title {
  font-family: $font-family-sans-serif-default;
  font-size: 12px;
  padding-left: 0;
}

.all-events-txt {
  font-size: 25px;
}

/* ### footer ### */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $almost-white;
  border-top: 1px solid $gray-lighter;
  p {
    text-align: center;
    padding-top: 20px;
  }
}

div.alert-msg {
  box-shadow: 0 0 0.75em $gray;
}

p.static-content > a > img.colper-contact-logo {
  max-width: 100px;
}

.colper-footer-logo {
  max-width: 50px;
}
/* ## Mobile view ## */
@media screen and (max-width: 768px) {
  #ship {
    padding: 23px 0 0 20px;
  }
}