

/* ### Navbar ### */



/* ### footer ### */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #eeeeee;
  //border-top: 1px solid $gray-light;
  p {
    text-align: center;
    padding-top: 20px;
  }
}

