#ship {
  color: $white;
  padding: 15px 15px 0 0;
}

.alert-msg {
  text-align: center;
}

#error_explanation > ul {
  color: #E74C3C;
}

.panel {
  margin: 3px 5px;
}
.users-link {
  color: $white;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}


/* ### footer ### */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #eeeeee;
  //border-top: 1px solid $gray-light;
  p {
    text-align: center;
    padding-top: 20px;
  }
}

