<footer class="footer">
  <div class="container">
      <p class="text-muted">
        Polis
        <i class="fa fa-ship"></i>
        <%# link_to 'colper', 'http://www.colinstodd.com', target: '_blank' %>
        <%# link_to image_tag('colper_designs_teal_blue_cropped.png'), 'http://www.colinstodd.com', alt:'Colper aka Colin Stodd', target:'_blank', class:'colper-design-logo' %>
      </p>
    </div>
  </div>
</footer>