<!--<footer class="footer">-->
  <!--<div class="container">-->
      <!--<p class="text-muted">-->
        <!--Polis-->
        <!--<i class="fa fa-ship"></i> by:-->
        <!--<%= link_to 'colper', 'http://www.colinstodd.com', target: '_blank' %>-->

      <!--</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</footer>-->